@import-normalize;
@import './variables';

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;

    background-image: linear-gradient($color-dark-blue, $color-light-blue);

    font-family: $font-regular;

    &::-webkit-scrollbar{
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        background: linear-gradient($color-dark-blue, $color-light-blue);
    }
    &::-webkit-scrollbar-thumb {
        background-color: $tag-color;
        border-radius: 50px;
    }
}

@font-face {
    font-family: 'GandhiSansRegular';
    src: local('GandhiSansRegular'), url('./assets/GandhiSans-Regular.otf');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'GandhiSansBold';
    src: local('GandhiSansBold'), url('./assets/GandhiSans-Bold.otf');
    font-weight: 700;
    font-display: swap;
}